
/* general formatting --> */

html{
    color:rgb(0, 0, 0);
    font-family: polymath-text, sans-serif;
}
body{
    margin:auto;
    font-size:20px;
}
a{
    font-weight:500;
    font-style: normal;
    text-decoration:none;
    font-size:20px;
    color:rgb(0, 0, 0);
    z-index: 9999;
    border-radius: 40px;
    border:1.5px solid rgb(0, 0, 0,0);
}
h3{
    font-weight:900;
    font-family: polymath-text, sans-serif;
    font-style: normal;
    font-size:60px;
    width:1000px;
    line-height:1;
}
h2{
    font-weight:900;
    font-family: polymath-text, sans-serif;
    font-style: normal;
    font-size:40px;
    width:1000px;
    line-height:1;
    padding-left:50px;
}

.header{
    margin:auto;
    padding-left:50px;
    z-index: 9999;
    position:absolute;
}
section.top{
    position:relative;
    padding-top: 150px;
}

/* top banner --> */


.header a{
    padding: 10px 20px 10px 20px;
    display:inline-block;
    font-size:25px;
}

.button_container{
    margin: 30px 10px 10px 10px;
	padding: 15px;
	height: 100px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}
.selected{
    border-radius: 40px;
    border:0px;
    background-color:rgb(255, 148, 0);
    color:white;
}

/* home --> */

.home-title{
    padding-left:75px;
}

.work a{
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    border:1.5px solid rgb(0, 0, 0);
}
.work img{
    object-fit: cover;
    object-position:center;
    width:100%;
    height:300px;
    margin-bottom:50px;
    border-radius: 40px;
    border:1.5px solid rgb(0, 0, 0);
}
section.home-work{
    padding-top: 50px;
    padding-bottom:50px;
}

section.home-work ul{
    display:flex;
    flex-wrap: wrap;
    text-align:left;
    width:95%;
    margin-right:auto;
    margin-left:auto;
    padding:0px;
}
section.home-work aside{
    width:450px;
    margin: 20px 40px 50px 40px;
}
section.home-work-items{
    display:block;
}
section.home-work li{
    font-size:0;
}
img#guston{
    text-align:center;
}

/* buttons --> */

#btn_posters:hover{
    border:0px;
    background-color:rgb(255, 148, 0);
    color:white;
}
#btn_head:hover{
    border-radius: 40px;
    border:1.5px solid rgb(0, 0, 0);
}

/* footer --> */

footer.about{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .banner{
    position:relative;
    background-color: rgb(255, 148, 0);
    height:30px;
    margin-bottom:0px;
}

footer p{
    margin-bottom:0px;
    padding-top: 10px;
    font-family: polymath-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    width:150px;
    margin-right:auto;
    margin-left:auto;
    font-size:10px;
    color:white;
    text-align:center;
}

/* about --> */

.about a{
    padding: 20px 30px 20px 30px;
    border-radius: 40px;
    border:1px solid rgb(0, 0, 0);
}
.about .button_container{
    overflow:visible;
    margin-left:50px;
    margin-top:10px;
}

/* zoom mechanism --> */

.click-zoom input[type=checkbox] {
  display: none
}
.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.2);
  cursor: zoom-out
}
.click-zoom img{
    cursor:zoom-in;
    transition: transform 0.25s ease;
}

/* work grids --> */

.poster img{
    object-fit: contain;
    object-position:center;
    width:95%;
    height:95%;
    margin-bottom:20px;
}
.poster video{
    width:100%;
    height:100%;
    border-radius: 40px;
    border:1px solid rgb(0, 0, 0);
    object-fit:fill;
}
video#mobile{
    width:70%;
    height:100%;
}
.poster p{
    padding-top:50px;
    width:500px;
}
section.poster{
    padding-top: 25px;
    padding-bottom:50px;
}

section.poster ul{
    display:flex;
    flex-wrap: wrap;
    text-align:left;
    width:95%;
    margin-right:auto;
    margin-left:auto;
    padding:0px;
    padding-left:40px;
}
section.poster aside{
    width:700px;
    margin: 20px 40px 50px 40px;
    font-size:18px;
    display:grid;
    justify-items: center;
}
section.poster-items{
    display:block;
}
section.poster li{
    font-size:0;
}
.stat{
    color:rgb(255, 148, 0);
}
